{% extends "search.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/js/time.js"></script>
{% endblock %}
{% block options %}
<label class="checkbox days">
  <input type="checkbox">Monday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>
</label> 
<label class="checkbox days">
  <input type="checkbox">Tuesday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>
</label>
<label class="checkbox days">
  <input type="checkbox">Wedsnesday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>
</label>
<label class="checkbox days">
  <input type="checkbox">Thurday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>
</label>
<label class="checkbox days">
  <input type="checkbox">Friday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>	
</label>
<label class="checkbox days">
  <input type="checkbox">Saturday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>	
</label>
<label class="checkbox days">
  <input type="checkbox">Sunday<br>
  <label class="checkbox hidden">
    <input type="checkbox">Morning<br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Afternoon<br>
  </label>
  <label class="checkbox hidden">Evening
    <input type="checkbox"><br>
  </label>
  <label class="checkbox hidden">
    <input type="checkbox">Night<br>
  </label>
</label>
<button type="submit" class="btn">Submit</button>
{% endblock %}
{% block results %}

{% endblock %}
